@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    top: 0;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
.container{
    min-height: calc(100vh - 96px);
    width: 100%;
    background: #530D0D;
    scroll-behavior: smooth;
}
.tituloConteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    background: #FB6D10;
}    

.areaTitulo{
    display: flex;
    margin-top: 12px;
    justify-content: center;
    align-items: flex-end;
    width: 90%;
}

figure{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
figure > img{
    width: 130px;
    height: 130px;
}
 hr{
    width: 80%;
 }
.areaTitulo > h1{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 44px;
}


.btn-content{
        background-color: transparent;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        color: #f5f5f5;
        width: 100%;
        margin: 24px 6px;
        font-size: 16px;
        border: solid #FFFFFF 1px;
        border-radius: 12px;
        padding: 10px 14px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
.btn-content:hover{
        background-color: #ffffff;
        color: #C71818;
        font-size: 14px;
    }

    #tag-a {
        text-decoration: none;
        display: flex;
        
    }

main{
        display: flex;
        flex-direction: row;
        height: 60%;
        width: 100%;
        margin-top: 32px;
        padding-left: 16px;
    }


#card-left{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        width: 50%;
        padding: 28px 28px;
    }

#card-left h1{
        font-size: 56px;
        font-family: 'Montserrat', sans-serif;
        font-weight:700;
        color: #FFFFFF;
        text-align: left;
    }

#card-left span{
        color: #D81522;
    }
 .card-right{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
    }

.card-right img{
    height: 600px;
    width: 600px;
}

#card-paragrafo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 300px;
    width: 70%;
    background: #000000a8;
    border-radius: 50px;
    padding: 10px 16px;
    margin-top: 26px;
    
}

#card-paragrafo p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #FFF2E7;
    font-weight: 500;
    text-align: left;
}

#btn-content-main{
    border: none;
    display: flex;
    width: 25%;
    align-items: center;
    align-self: center;
    margin-top: 25px;
    justify-content: center;
    background:#f93c07;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition:.3s ease;
    color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}

#btn-content-main:hover{
    background: #fa6a0a;
}

#btn-content-main i{
    font-size: 16px;
}
main a{
    text-decoration: none;
    display: flex;
    justify-content: center;
}

footer{
    font-family: 'Inter', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 172px;
        text-align: center;
        background: #420A0A;
        color: #FFF2E7;
}


/* responsividade */

@media  (min-width: 0px) and (max-width: 1170px) {
    .container{
        min-height: 100%;
    }

    figure, .card-right{
        display: none;
    }

    .areaTitulo h1{
        font-size: 38px;
    }
    .btn-content{
        width: 100%;
    }
    #card-left{
        width: 100%;
    }

    #card-left h1{
        font-size: 38px;
        text-align: center;
    }

    #card-paragrafo {
        width: 100%;
    }

    #btn-content-main {
        width: 60%;
}
}